html,body{
  background-color: #F5FAFD !important;
  height: 100%;
  width: 100%;
}

*{
  /* border: 1px solid red; */
}

body{
  overflow: hidden;
}

#root{
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

  * {
    scrollbar-width:thin;
    scrollbar-color: #0C6780 #ffffff;
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0C6780;
    /* border-radius: 4px; */
    border: 1px #0C6780 solid;

  }
