html,body{
  background-color: #F5FAFD !important;
  height: 100%;
  width: 100%;
}

*{
  /* border: 1px solid red; */
}

body{
  overflow: hidden;
}

#root{
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

* {
  scrollbar-width:thin;
  scrollbar-color: #0C6780 #ffffff;
}

*::-webkit-scrollbar {
  width: 8px;

}

*::-webkit-scrollbar-track {
  background: #0c678044;
}

*::-webkit-scrollbar-thumb {
  background-color: #0c6780a6;
  border: 1px #0c6780a6 solid;

}

@keyframes popup {
  0% {
    scale: 0;
    transform:rotate(45deg);
  }
  100%{
    scale: 1;
    transform:rotate(0deg);
  }
}
